<h1><%=@cocktail.name %></h1>
<br>
<br>
<% @cocktail.doses.each do |dose| %>
<ul class="list-unstyled">
  <li> <%= dose.description %> | <%= dose.ingredient.name %> </li>
<% end %>
</ul>

<br>
<br>

<%= link_to "Delete",  @cocktail,  method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary" %>

<br>
<br>
<%= link_to "Add ingredients to your cocktail!", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<br>
<br>

<%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>
