<h1><%=@cocktail.name %></h1>
<br>
<%= cl_image_tag @cocktail.photo, height: 200, width: 200, crop: :fill %>
<br>
<% @cocktail.doses.each do |dose| %>
<ul class="list-unstyled">
  <li> <%= dose.description %> | <%= dose.ingredient.name %>
  <%= link_to "Edit", edit_cocktail_dose_path(@cocktail, dose) %>
    <%= link_to "Delete",  cocktail_dose_path(@cocktail, dose),  method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    <% end %>
  </ul>

  <br>
  <br>

  <%= link_to "Delete",  @cocktail,  method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary" %>

  <br>
  <br>
  <%= link_to "Add ingredients to your cocktail!", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

  <br>
  <br>

  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>
